:root {
  --c-brown-gray: #DBDBD4;
  --c-gray: #979898;
  --c-gray-dark: #666666;
  --c-black: #333;
  --c-white: #fff;

  --c-red: lightcoral;
  --c-red-dark: indianred;
  --c-rose: mistyrose;
  --c-rose-light: linen;
}